/*media query en el  navegador*/
.example-spacer {
    flex: 1 1 auto;
}
  /*declaramos con palabra reservada MEDIA -> DISPOSITIVOS ´PEQUEÑOS(EJE:CELULAR)*/
  @media (min-width:300px) and (max-width:700px){
    mat-toolbar{
        background-color: antiquewhite;
    }
    #menuInicio{
        display: none;
    }
    #menuProducto{
        display: none;
    }
  }

  /*dispositivos mas grandes*/
  @media (min-width:700px){
    mat-toolbar{
        background-color: brown;
    }
    #menuSecciones{
        display: none;
    }
  }