<!--navegador-->
<mat-toolbar>
    <button id="menuSecciones" class="btn btn-secondary" mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
 
    <button class="button" class="btn btn-secondary" routerLink="/inicio">My App</button>
    <span class="example-spacer"></span>

    <!-- Inicio de sesión y formulario de registro -->
    
        <button mat-menu-item class="btn btn-secondary" routerLink="/registro">Registrarse</button>
       <br> <button mat-menu-item class="btn btn-secondary" routerLink="/inicio-sesion">Iniciar sesión</button>
   
</mat-toolbar>
  
   