 
<!--navegador-->
<!--<mat-toolbar>
   <button id="menuSecciones" class="btn btn-secondary" mat-icon-button class="example-icon" >
      <mat-icon>menu</mat-icon>
    </button>
 
    <button class="button" class="btn btn-secondary" routerLink="/inicio">My App</button>
    <span class="example-spacer"></span>
      
   
    
    ***** Inicio de sesión y formulario de registro ******
    <button mat-menu-item class="btn btn-secondary" routerLink="/registro">Registrarse</button>
    <br> <button mat-menu-item class="btn btn-secondary" routerLink="/inicio-sesion">Iniciar sesión</button>

</mat-toolbar>
-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">fuaa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  
          <button mat-menu-item class="btn btn-outline-success" (click)="iniciar()" *ngIf="logueado" routerLink="registro">Registrarse</button>
          <button mat-menu-item class="btn btn-outline-success" (click)="iniciar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar sesión</button>
          <button mat-menu-item class="btn btn-outline-success" (click)="cerrarSesion()" *ngIf="deslogueado">cerrar sesion</button>
          <!--icono para volver-->
          <a class="nav-link active" aria-current="page" href="#"> <button class="btn btn-outline-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" routerLink="/inicio">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg></button></a>

    </div> 
  </div>
</nav>

   