<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="https://http2.mlstatic.com/tenis-zapatillas-adidas-swift-run-azul-hombre-env-gr-D_NQ_NP_769698-MCO26513862779_122017-F.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://http2.mlstatic.com/D_NQ_NP_989930-MCO26513865735_122017-O.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://http2.mlstatic.com/D_NQ_NP_731095-MCO26513881700_122017-O.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>