<!--inicio sesion-->
<div class="container">
    <div class="row">
        <h1>Inicia Sesión</h1>

        <i class="material-icons" style="font-size: 200px;">person</i>
        
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su email:</mat-label>
            <input [(ngModel)]="usuarioIngresado.email" matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Ingrese su contraseña:</mat-label>
            <input [(ngModel)]="usuarioIngresado.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
        </mat-form-field>
<!--boton para limpiar el input-->
        <button class="boton" mat-raised-button color="secondary" (click)="iniciarSesion()">Iniciar Sesión</button>
    </div>
</div>